@media (max-width: 1200px)
  .container
    max-width: 960px
@media ( max-width: 992px )
  .container
    max-width: 700px
  .header
    &-menu
      display: none
    &__social-networks
      width: 110px
  .logo
    width: 30px
    height: 30px
    &-text
      font-size: 14px

  .hero
    &-avatar
      width: 300px
      height: 300px
    &-text
      &__name
        font-size: 40px        
        line-height: 48px
    
@media ( max-width: 768px )
  .container
    max-width: 576px
    width: 92%
  
  .header
    margin-bottom: 50px

  .hero
    &-wrapper 
      flex-direction: column-reverse
    &-text
      display: flex
      flex-direction: column
      text-align: center
      align-items: center
  
@media ( max-width: 576px )
  .container
    max-width: 500px
  
  
